<%= link_to 'Show Jobs', jobs_path %>

<div>
  <h1><%= @job.title %></h1>
  <div><%= @job.description %></div>
  <small>
    Closing Date: <%= @job.closing_date.strftime("%d %B %Y") %>
  </small>  
</div>
